Подключаем pandas

In [14]:
import pandas as pd

Загружаем набор данных из CSV-файла

In [15]:
anime_df = pd.read_csv("anime.csv")

In [14]:
anime_df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

Выводим типы переменных

In [15]:
anime_df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

anime_id - порядковая переменная,
name - строковая переменная,
genre - категориальная переменная,
type - категориальная переменная,
episodes - числовая переменная,
rating - непрерывная переменная,
members - числовая переменная.

Проверим, есть ли пустые значения у набора данных. Для этого, сначала создадим новый df, в котором будет проверка на то, является ли информация в ячейке пустой или нет

In [30]:
is_null = anime_df.isnull()

Затем создадим фильтр, в которой будет значение true, если хотя бы в одной строке не будет данных

In [31]:
row_with_null = is_null.any(axis=1)

Создаем новый df, используя фильтр

In [32]:
rows_with_null = anime_df[row_with_null]

Выводим все строки с пустыми значениями некоторых полей

In [33]:
rows_with_null

,anime_id,name,genre,type,episodes,rating,members
2844,33242,IS: Infinite Stratos 2 - Infinite Wedding,NaN,Special,1,7.15,6604
3541,33589,ViVid Strike!,NaN,TV,12,6.96,12345
6040,29765,Metropolis (2009),NaN,Movie,1,6.27,313
6646,32695,Match Shoujo,NaN,ONA,1,6.02,242
7018,33187,Katsudou Shashin,NaN,Movie,1,5.79,607
...,...,...,...,...,...,...,...
12274,34492,Nuki Doki! Tenshi to Akuma no Sakusei Battle -...,Hentai,OVA,Unknown,NaN,392
12279,34491,Sagurare Otome The Animation,Hentai,OVA,1,NaN,79
12280,34312,Saimin Class,Hentai,OVA,Unknown,NaN,240
12282,34388,Shikkoku no Shaga The Animation,Hentai,OVA,Unknown,NaN,195
12285,34399,Taimanin Asagi 3,"Demons, Hentai, Supernatural",OVA,Unknown,NaN,485

Выводим статистические харакстеристики числовых полей (минимум - min, максимум - max, среднее - mean, медиана - 50%)

In [37]:
anime_df.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

Сделаем срезы по именам полей

In [38]:
anime_df.loc[:, "anime_id":"anime_id"]

       anime_id
0         32281
1          5114
2         28977
3          9253
4          9969
...         ...
12289      9316
12290      5543
12291      5621
12292      6133
12293     26081

[12294 rows x 1 columns]

In [42]:
anime_df.loc[:, "name":"name"]

                                                    name
0                                         Kimi no Na wa.
1                       Fullmetal Alchemist: Brotherhood
2                                               Gintama°
3                                            Steins;Gate
4                                          Gintama&#039;
...                                                  ...
12289       Toushindai My Lover: Minami tai Mecha-Minami
12290                                        Under World
12291                     Violence Gekiga David no Hoshi
12292  Violence Gekiga Shin David no Hoshi: Inma Dens...
12293                   Yasuji no Pornorama: Yacchimae!!

[12294 rows x 1 columns]

In [43]:
anime_df.loc[:, "genre":"genre"]

                                                   genre
0                   Drama, Romance, School, Supernatural
1      Action, Adventure, Drama, Fantasy, Magic, Mili...
2      Action, Comedy, Historical, Parody, Samurai, S...
3                                       Sci-Fi, Thriller
4      Action, Comedy, Historical, Parody, Samurai, S...
...                                                  ...
12289                                             Hentai
12290                                             Hentai
12291                                             Hentai
12292                                             Hentai
12293                                             Hentai

[12294 rows x 1 columns]

Сделаем срез от поля type до members

In [44]:
anime_df.loc[:, "type":"members"]

        type episodes  rating  members
0      Movie        1    9.37   200630
1         TV       64    9.26   793665
2         TV       51    9.25   114262
3         TV       24    9.17   673572
4         TV       51    9.16   151266
...      ...      ...     ...      ...
12289    OVA        1    4.15      211
12290    OVA        1    4.28      183
12291    OVA        4    4.88      219
12292    OVA        1    4.98      175
12293  Movie        1    5.46      142

[12294 rows x 4 columns]

Сделаем срез 3-10 строк от поля name до поля rating

In [46]:
anime_df.loc[3:10, "name":"rating"]

,name,genre,type,episodes,rating
3,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17
4,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16
5,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15
6,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13
7,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11
8,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10
9,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11
10,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06

Сделаем фильтрацию по значениям полей

In [73]:
# Фильтрация по рейтингу больше 9 и меньше 9.20
rating_df = anime_df[(anime_df["rating"] > 9) & (anime_df["rating"] < 9.20)]

In [74]:
rating_df

,anime_id,name,genre,type,episodes,rating,members
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109
10,4181,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06,456749
11,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
12,918,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201,9.04,336376

In [69]:
# Фильтрация по id = 9253 или 5114
episodes_df = anime_df[(anime_df["anime_id"] == 9253) | (anime_df["anime_id"] == 5114)]

In [70]:
episodes_df

,anime_id,name,genre,type,episodes,rating,members
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572

In [75]:
# Фильтрация строк с помощью лямбда-функции (вывод названий с рейтингом больше 9.10 и меньше 9.20)
lambda_df = anime_df.loc[lambda anime_df: (anime_df["rating"] > 9.10) & (anime_df["rating"] < 9.20), "name"]

In [76]:
lambda_df

3                                          Steins;Gate
4                                        Gintama&#039;
5    Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...
6                               Hunter x Hunter (2011)
7                                 Ginga Eiyuu Densetsu
9                             Gintama&#039;: Enchousen
Name: name, dtype: object

Проведем сортировку отфильтрованного по рейтингу набора данных (по возрастанию name)

In [78]:
rating_df.sort_values(by=["name"], ascending = [True])

,anime_id,name,genre,type,episodes,rating,members
10,4181,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06,456749
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
12,918,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201,9.04,336376
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
11,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572

Выполним группировку (среднее значения рейтинга для каждого типа)

In [81]:
anime_df.groupby(["type"])[["rating"]].mean()

           rating
type
Movie    6.318058
Music    5.588996
ONA      5.643298
OVA      6.375221
Special  6.523501
TV       6.902299

Подключаем еще один набор данных с рейтингом от пользователей

In [4]:
rating_df = pd.read_csv("rating.csv")
rating_df.columns

Index(['user_id', 'anime_id', 'rating'], dtype='object')

Объединяем наборы данных по ключу anime_id

In [ ]:
Способ inner

In [7]:
merge_out = anime_df.merge(rating_df, how = "inner", left_on = "anime_id", right_on = "anime_id")

In [8]:
merge_out

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278,-1
...,...,...,...,...,...,...,...,...,...
7813722,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,39532,-1
7813723,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,48766,-1
7813724,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,60365,4
7813725,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142,27364,-1
7813726,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142,48766,-1

Способ left

In [10]:
merge_out = anime_df.merge(rating_df, how = "left", left_on = "anime_id", right_on = "anime_id")
merge_out

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99.0,5.0
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152.0,10.0
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244.0,10.0
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271.0,10.0
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278.0,-1.0
...,...,...,...,...,...,...,...,...,...
7814819,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,39532.0,-1.0
7814820,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,48766.0,-1.0
7814821,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,60365.0,4.0
7814822,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142,27364.0,-1.0
7814823,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142,48766.0,-1.0

In [ ]:
Способ right

In [11]:
merge_out = anime_df.merge(rating_df, how = "right", left_on = "anime_id", right_on = "anime_id")
merge_out

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y
0,20,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297.0,1,-1
1,24,School Rumble,"Comedy, Romance, School, Shounen",TV,26,8.06,178553.0,1,-1
2,79,Shuffle!,"Comedy, Drama, Ecchi, Fantasy, Harem, Magic, R...",TV,24,7.31,158772.0,1,-1
3,226,Elfen Lied,"Action, Drama, Horror, Psychological, Romance,...",TV,13,7.85,623511.0,1,-1
4,241,Girls Bravo: First Season,"Comedy, Ecchi, Fantasy, Harem, Romance, School",TV,11,6.69,84395.0,1,-1
...,...,...,...,...,...,...,...,...,...
7813732,16512,Devil Survivor 2 The Animation,"Action, Demons, Supernatural",TV,13,7.06,101266.0,73515,7
7813733,17187,Ghost in the Shell: Arise - Border:1 Ghost Pain,"Mecha, Police, Psychological, Sci-Fi",Movie,1,7.64,31747.0,73515,9
7813734,22145,Kuroshitsuji: Book of Circus,"Comedy, Demons, Fantasy, Historical, Shounen, ...",TV,10,8.37,122895.0,73515,10
7813735,790,Ergo Proxy,"Mystery, Psychological, Sci-Fi",TV,23,8.03,265005.0,73516,9
7813736,8074,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural",TV,12,7.46,535892.0,73516,9

In [ ]:
Способ outer

In [12]:
merge_out = anime_df.merge(rating_df, how = "outer", left_on = "anime_id", right_on = "anime_id")
merge_out

,anime_id,name,genre,type,episodes,rating_x,members,user_id,rating_y
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0,99.0,5.0
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0,152.0,10.0
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0,244.0,10.0
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0,271.0,10.0
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0,278.0,-1.0
...,...,...,...,...,...,...,...,...,...
7814829,30913,NaN,NaN,NaN,NaN,NaN,NaN,51693.0,-1.0
7814830,30913,NaN,NaN,NaN,NaN,NaN,NaN,62549.0,-1.0
7814831,30924,NaN,NaN,NaN,NaN,NaN,NaN,19104.0,-1.0
7814832,30924,NaN,NaN,NaN,NaN,NaN,NaN,62549.0,-1.0
7814833,20261,NaN,NaN,NaN,NaN,NaN,NaN,48766.0,-1.0